<div class="jumbotron">
  <div class="Flexbox">
    <img id="scan" src="assets/images/scan.gif">
    <br>
    <br>
    <span>
      Results
      <br>
      <Span>
        Nodule detected at (125,512,512) with (63%) confidence
      </Span>
    </span>
    <br><br><br>
    <div>
      <span>Diagnosis</span>
      <input id="diagnosis" type="text">
    </div><br>
    <div>
      <span>Next Steps</span>
      <input id="nextSteps" type="text">
    </div><br>
    <div>
      Notes
      <br>
      <textarea id="notes" aria-multiline="true"></textarea>
      <button class="form-control">Save Changes</button>
    </div><br>
  </div>
</div>
